In [1]:
# The code was removed by Watson Studio for sharing.

# Predicting English Premier League Matches

By: Yi Xuan Sim

## Extract Transform Load

From the website, we can obtain English Premier League data in the form of csv files. However, the data is separated into different seasons. We want to combine all the data into a single csv file as well as remove any unnecessary columns. 

Data Source: http://www.football-data.co.uk/englandm.php

Importing data from 2005/2006 season onwards

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2005-2006.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_1 = pd.read_csv(body, parse_dates=dateCols)
df_data_1.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2005-08-13,Aston Villa,Bolton,2,2,D,2,2,D,...,2.20,2.01,1.87,1.70,22,-0.25,2.10,2.01,1.92,1.84
1,E0,2005-08-13,Everton,Man United,0,2,A,0,1,A,...,2.10,1.93,1.87,1.79,23,0.75,2.05,2.00,1.93,1.86
2,E0,2005-08-13,Fulham,Birmingham,0,0,D,0,0,D,...,2.24,2.04,1.77,1.69,21,0.00,1.85,1.81,2.11,2.05
3,E0,2005-08-13,Man City,West Brom,0,0,D,0,0,D,...,2.10,1.94,1.90,1.77,23,-0.75,2.19,2.10,1.83,1.76
4,E0,2005-08-13,Middlesbrough,Liverpool,0,0,D,0,0,D,...,2.23,2.02,1.80,1.71,21,0.25,1.89,1.86,2.04,2.00

In [4]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2006-2007.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_2 = pd.read_csv(body, parse_dates=dateCols)
df_data_2.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2006-08-19,Arsenal,Aston Villa,1,1,D,0,0,D,...,1.83,1.75,2.12,2.01,28,-1.50,2.09,1.98,1.90,1.85
1,E0,2006-08-19,Bolton,Tottenham,2,0,H,2,0,H,...,2.30,2.17,1.75,1.63,27,0.00,2.10,1.96,1.92,1.83
2,E0,2006-08-19,Everton,Watford,2,1,H,1,0,H,...,2.20,2.07,1.76,1.69,26,-0.75,2.00,1.94,1.96,1.93
3,E0,2006-08-19,Newcastle,Wigan,2,1,H,1,0,H,...,2.25,2.12,1.75,1.66,26,-0.75,2.18,2.06,1.93,1.81
4,E0,2006-08-19,Portsmouth,Blackburn,3,0,H,1,0,H,...,2.26,2.15,1.69,1.64,27,0.00,1.86,1.75,2.20,2.06

In [5]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2007-2008.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_3 = pd.read_csv(body, parse_dates=dateCols)
df_data_3.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2007-11-08,Aston Villa,Liverpool,1,2,A,0,1,A,...,2.30,2.14,1.70,1.63,26,0.50,1.95,1.85,2.07,1.95
1,E0,2007-11-08,Bolton,Newcastle,1,3,A,0,3,A,...,2.33,2.10,1.75,1.65,26,0.00,1.83,1.75,2.18,2.04
2,E0,2007-11-08,Derby,Portsmouth,2,2,D,1,1,D,...,2.35,2.13,1.90,1.63,25,0.00,2.26,2.09,1.76,1.71
3,E0,2007-11-08,Everton,Wigan,2,1,H,1,0,H,...,2.20,2.00,1.83,1.73,26,-0.75,1.97,1.94,2.02,1.94
4,E0,2007-11-08,Middlesbrough,Blackburn,1,2,A,1,0,H,...,2.30,2.08,1.75,1.67,26,0.00,1.90,1.77,2.10,1.97

In [6]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2008-2009.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_4 = pd.read_csv(body, parse_dates=dateCols)
df_data_4.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2008-08-16,Arsenal,West Brom,1,0,H,1,0,H,...,1.71,1.65,2.25,2.14,26,-1.5,1.88,1.81,2.12,1.97
1,E0,2008-08-16,Bolton,Stoke,3,1,H,3,0,H,...,2.33,2.16,1.70,1.64,27,0.0,1.35,1.31,3.56,3.27
2,E0,2008-08-16,Everton,Blackburn,2,3,A,1,1,D,...,2.34,2.17,1.70,1.63,28,0.0,1.73,1.43,3.05,2.76
3,E0,2008-08-16,Hull,Fulham,2,1,H,1,1,D,...,2.32,2.15,1.69,1.64,26,0.0,1.91,1.85,2.07,1.94
4,E0,2008-08-16,Middlesbrough,Tottenham,2,1,H,0,0,D,...,1.90,1.81,2.12,1.92,27,0.0,2.45,2.30,1.65,1.58

In [7]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2009-2010.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_5 = pd.read_csv(body, parse_dates=dateCols)
df_data_5.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.0,1.28,1.22,4.40,3.99
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.0,2.58,2.38,1.60,1.54
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.0,1.68,1.61,2.33,2.23
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.0,1.03,1.02,17.05,12.96
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.0,2.27,2.20,1.73,1.63

In [8]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2009-2010.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_6 = pd.read_csv(body, parse_dates=dateCols)
df_data_6.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.0,1.28,1.22,4.40,3.99
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.0,2.58,2.38,1.60,1.54
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.0,1.68,1.61,2.33,2.23
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.0,1.03,1.02,17.05,12.96
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.0,2.27,2.20,1.73,1.63

In [9]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2011-2012.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_7 = pd.read_csv(body, parse_dates=dateCols)
df_data_7.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2011-08-13,Blackburn,Wolves,1,2,A,1,1,D,...,2.06,1.96,1.89,1.82,18,-0.50,2.20,2.14,1.78,1.74
1,E0,2011-08-13,Fulham,Aston Villa,0,0,D,0,0,D,...,2.21,2.11,1.77,1.69,21,-0.25,1.83,1.80,2.14,2.08
2,E0,2011-08-13,Liverpool,Sunderland,1,1,D,1,0,H,...,1.92,1.85,2.01,1.92,21,-1.00,1.92,1.88,2.02,1.98
3,E0,2011-08-13,Newcastle,Arsenal,0,0,D,0,0,D,...,1.89,1.80,2.10,1.98,20,0.50,1.84,1.79,2.16,2.10
4,E0,2011-08-13,QPR,Bolton,0,4,A,0,1,A,...,2.27,2.16,1.73,1.66,19,-0.25,2.00,1.95,1.98,1.92

In [10]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2012-2013.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_8 = pd.read_csv(body, parse_dates=dateCols)
df_data_8.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2012-08-18,Arsenal,Sunderland,0,0,D,0,0,D,...,2.05,23,-1.25,2.02,1.96,1.96,1.91,1.44,4.72,8.71
1,E0,2012-08-18,Fulham,Norwich,5,0,H,2,0,H,...,1.92,21,-0.50,1.83,1.80,2.14,2.09,1.84,3.75,4.75
2,E0,2012-08-18,Newcastle,Tottenham,2,1,H,0,0,D,...,1.92,23,0.00,1.93,1.88,2.03,1.97,2.83,3.35,2.72
3,E0,2012-08-18,QPR,Swansea,0,5,A,0,1,A,...,1.73,22,-0.25,1.80,1.75,2.21,2.13,2.00,3.53,4.15
4,E0,2012-08-18,Reading,Stoke,1,1,D,0,1,A,...,1.67,24,-0.25,2.07,2.01,1.91,1.86,2.47,3.30,3.22

In [11]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2013-2014.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_9 = pd.read_csv(body, parse_dates=dateCols)
df_data_9.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2013-08-17,Arsenal,Aston Villa,1,3,A,1,1,D,...,2.37,NaN,NaN,NaN,NaN,NaN,NaN,1.44,5.00,8.05
1,E0,2013-08-17,Liverpool,Stoke,1,0,H,1,0,H,...,2.02,NaN,NaN,NaN,NaN,NaN,NaN,1.42,4.62,10.19
2,E0,2013-08-17,Norwich,Everton,2,2,D,0,0,D,...,1.82,NaN,NaN,NaN,NaN,NaN,NaN,3.81,3.27,2.21
3,E0,2013-08-17,Sunderland,Fulham,0,1,A,0,0,D,...,1.77,NaN,NaN,NaN,NaN,NaN,NaN,2.52,3.23,3.16
4,E0,2013-08-17,Swansea,Man United,1,4,A,0,2,A,...,1.98,NaN,NaN,NaN,NaN,NaN,NaN,3.62,3.41,2.22

In [12]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2014-2015.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_10 = pd.read_csv(body, parse_dates=dateCols)
df_data_10.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2014-08-16,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,...,2.10,24.0,-1.50,1.81,1.78,2.20,2.10,1.29,5.90,12.75
1,E0,2014-08-16,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,...,1.80,22.0,0.25,1.88,1.85,2.10,2.02,3.11,3.40,2.47
2,E0,2014-08-16,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,...,2.13,25.0,-1.50,2.18,2.08,1.87,1.79,1.45,4.81,8.25
3,E0,2014-08-16,QPR,Hull,0.0,1.0,A,0.0,0.0,D,...,1.58,24.0,0.00,1.80,1.73,2.25,2.14,2.31,3.24,3.59
4,E0,2014-08-16,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,...,1.60,23.0,-0.50,1.95,1.91,2.02,1.96,2.01,3.34,4.51

In [13]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2015-2016.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_11 = pd.read_csv(body, parse_dates=dateCols)
df_data_11.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,2015-08-08,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

In [14]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2016-2017.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_12 = pd.read_csv(body, parse_dates=dateCols)
df_data_12.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2016-08-13,Burnley,Swansea,0,1,A,0,0,D,...,1.61,32,-0.25,2.13,2.06,1.86,1.81,2.79,3.16,2.89
1,E0,2016-08-13,Crystal Palace,West Brom,0,1,A,0,0,D,...,1.52,33,-0.50,2.07,2.00,1.90,1.85,2.25,3.15,3.86
2,E0,2016-08-13,Everton,Tottenham,1,1,D,1,0,H,...,1.77,32,0.25,1.91,1.85,2.09,2.00,3.64,3.54,2.16
3,E0,2016-08-13,Hull,Leicester,2,1,H,1,0,H,...,1.67,31,0.25,2.35,2.26,2.03,1.67,4.68,3.50,1.92
4,E0,2016-08-13,Man City,Sunderland,2,1,H,1,0,H,...,2.48,34,-1.50,1.81,1.73,2.20,2.14,1.25,6.50,14.50

In [15]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2017-2018.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_13 = pd.read_csv(body, parse_dates=dateCols)
df_data_13.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2017-11-08,Arsenal,Leicester,4,3,H,2,2,D,...,2.32,21,-1.00,1.91,1.85,2.10,2.02,1.49,4.73,7.25
1,E0,2017-12-08,Brighton,Man City,0,2,A,0,0,D,...,2.27,20,1.50,1.95,1.91,2.01,1.96,11.75,6.15,1.29
2,E0,2017-12-08,Chelsea,Burnley,2,3,A,0,3,A,...,2.23,20,-1.75,2.03,1.97,1.95,1.90,1.33,5.40,12.25
3,E0,2017-12-08,Crystal Palace,Huddersfield,0,3,A,0,2,A,...,1.72,18,-0.75,2.10,2.05,1.86,1.83,1.79,3.56,5.51
4,E0,2017-12-08,Everton,Stoke,1,0,H,1,0,H,...,1.76,19,-0.75,1.94,1.90,2.01,1.98,1.82,3.49,5.42

In [16]:

body = client_0550608025c545658c8a0d3996cfa335.get_object(Bucket='courseracapstone-donotdelete-pr-otnumxi5bu7tbr',Key='2018-2019.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

#Read the data and parse date in the correct format
dateCols = ['Date']
df_data_14 = pd.read_csv(body, parse_dates=dateCols)
df_data_14.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,2018-10-08,Man United,Leicester,2,1,H,1,0,H,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,2018-11-08,Bournemouth,Cardiff,2,0,H,1,0,H,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,2018-11-08,Fulham,Crystal Palace,0,2,A,0,1,A,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,2018-11-08,Huddersfield,Chelsea,0,3,A,0,2,A,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,2018-11-08,Newcastle,Tottenham,1,2,A,1,2,A,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89

 Joining all dataframes

In [17]:
frames = [df_data_1, df_data_2, df_data_3, df_data_4, df_data_5,df_data_6,df_data_7,df_data_8,df_data_9,df_data_10,df_data_11,df_data_12,df_data_13,df_data_14]
result = pd.concat(frames)

We want to extract the relevant columns only that we identified during the data exploration phase.

In [18]:
result = result[['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HST','AST','HTR']]

In [19]:
result.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HST,AST,HTR
0,2005-08-13,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,2.0,6.0,D
1,2005-08-13,Everton,Man United,0.0,2.0,A,0.0,1.0,5.0,5.0,A
2,2005-08-13,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,7.0,4.0,D
3,2005-08-13,Man City,West Brom,0.0,0.0,D,0.0,0.0,8.0,3.0,D
4,2005-08-13,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,2.0,7.0,D

## Checking for null values

In [20]:
result.isnull().values.any()

True

We need to remove rows with null values

In [21]:
result = result.dropna()

## Transform
Converting categorical labels to integer labels using label encoding

In [22]:
from sklearn.preprocessing import LabelEncoder
full_time = result['FTR']
half_time = result['HTR']

# integer encode
label_encoder = LabelEncoder()
FT_encoded = label_encoder.fit_transform(full_time)
HT_encoded = label_encoder.fit_transform(half_time)
result['FT_encoded'] = FT_encoded
result['HT_encoded'] = HT_encoded
result.head(10)

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HST,AST,HTR,FT_encoded,HT_encoded
0,2005-08-13,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,2.0,6.0,D,1,1
1,2005-08-13,Everton,Man United,0.0,2.0,A,0.0,1.0,5.0,5.0,A,0,0
2,2005-08-13,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,7.0,4.0,D,1,1
3,2005-08-13,Man City,West Brom,0.0,0.0,D,0.0,0.0,8.0,3.0,D,1,1
4,2005-08-13,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,2.0,7.0,D,1,1
5,2005-08-13,Portsmouth,Tottenham,0.0,2.0,A,0.0,1.0,7.0,6.0,A,0,0
6,2005-08-13,Sunderland,Charlton,1.0,3.0,A,1.0,1.0,8.0,4.0,D,0,1
7,2005-08-13,West Ham,Blackburn,3.0,1.0,H,0.0,1.0,5.0,5.0,A,2,0
8,2005-08-14,Arsenal,Newcastle,2.0,0.0,H,0.0,0.0,12.0,1.0,D,2,1
9,2005-08-14,Wigan,Chelsea,0.0,1.0,A,0.0,0.0,5.0,9.0,D,0,1

The encoding is as follows: <br/>
Win by away team = 0 <br/>
Draw = 1 <br/>
Win by home team = 2 <br/>

## Load
Saving the processed dataframe as a csv file

In [23]:
# Save dataframe as csv file to storage
project.save_data(data=result.to_csv(index=False),file_name='training2.csv',overwrite=True)

{'asset_id': 'b179a762-9efc-4ca8-ab82-3e7b0609819a',
 'bucket_name': 'courseracapstone-donotdelete-pr-otnumxi5bu7tbr',
 'file_name': 'training2.csv',
 'message': 'File training2.csv has been written successfully to the associated OS'}